Package: com.p6ycode.p6ytok
Name: P6YTOK
Version: 0.1.0-alpha1
Architecture: iphoneos-arm
Description: P6YTOK revival for TikTok 46.1.0.
Maintainer: P6Ycode
Author: P6Ycode
Section: Tweaks
Depends: mobilesubstrate, ws.hbang.common
